@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flex-col-centered {
  @apply flex flex-col items-center justify-center;
}

.flex-row-centered {
  @apply flex flex-row items-center justify-center;
}

.center {
  text-align: center;
  font-family: GeistMonoVFl;
}

